# ignore all the cache folders coming from python
*/__pycache__/

# all the test files that serve as local pre-tests
dht/miscelaneous.py

# ignore the venv
venv/

# ignore pycharm folders
.idea/

# csvs for the benchmarks
benchmarks/csvs
